{
  "endOfLine": "crlf",
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
